<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🩵 MYWEB 🩵</title>
</head>
<body>
    <h1>질문 상세보기</h1>
    <div id="qDiv">
        <label>제목 : </label>
        {{question.subject}}<br>
        <label>내용 : </label>
        {{question.content}}<br>
    </div> <br>

    <h5>{{question.answer_set|length}}개의 답변이 있습니다.</h5>
    <div>
        <ul>
            {% for answer in question.answer_set %}
            <li>{{answer.content}}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <form action="{{ url_for('answer.create', question_id=question.id) }}" method="post">
            <textarea name="content" id="content" rows="15" cols="20" placeholder="답글입력"></textarea>
            <input type="submit" value="답변등록">
        </form>
    </div>
</body>
</html>